body{
    font-family: "Poppins", sans-serif;
    background-color:antiquewhite;

}

h3{
    font-size:1.6em;
    margin:1rem 0 1rem 2.2rem;
}

 #hi{
    padding-top:1em;
}

h1{
    font-size:50px;
    margin-left:2em;
}

button{
    height:32px;
    width:6em;
    font-size:1.1em;
    border-radius:6px;
    margin-left: 5.6em;
}

/*CHANGE ALL THE ICONS TO BE SAME SIZE*/

#links{
    margin-left:6em;
   
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    height:4em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    opacity:76%;
}
ul{
    margin-right:4rem;
    display:flex;
    list-style: none;
    justify-content:space-between;
    color:black;
}

li{
    padding:0.4em;
    font:4px, bold;
    font-weight: 700;
}

